* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.flex-container {
  height: 1277px;
  width: 1366px;
  background-color: #e5e5e5;
}
.header {
  width: 1366px;
  height: 130px;
  background-color: #7370fd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero1 {
  background-color: #7bff98;
  width: 400px;
  height: 352px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero2 {
  background-color: #ddff7b;
  width: 400px;
  height: 352px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container {
  display: flex;
}
.body {
  background-color: #2079ff;
  width: 966px;
  height: 455px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.extra-content {
  background-color: #ff202d;
  width: 966px;
  height: 249px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images {
  display: flex;
}
.image {
  width: 341.5px;
  height: 281px;
  background-color: #28907e;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 1366px;
  height: 130px;
  background-color: rgb(80 80 80);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* hero1 - #7bff98
hero2 - #ddff7b
image - #28907e



*/
